@page "/todos"
@attribute [StreamRendering(true)]

@inject TodosApiClient TodosApi
@inject NavigationManager Navigation

<PageTitle>Todos</PageTitle>

<h1>Todos</h1>

<p>This component demonstrates handling data loaded from a database via a backend API service.</p>

<div class="mb-4">
    <CreateTodoForm IsEnabled="todosLoaded" />
</div>

<TodosList OnTodosLoaded="HandleTodosLoaded" />

@code {
    private bool todosLoaded;

    private void HandleTodosLoaded()
    {
        todosLoaded = true;
    }
}
